<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rock_Wall_App.Properties.Settings.usersConnectionString"
            connectionString="server=localhost;user id=root;database=users;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Rock_Wall_App.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Inventory.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rock_Wall_App.Properties.Settings.AccountsDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AccountsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rock_Wall_App.Properties.Settings.PatronsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Patrons.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rock_Wall_App.Properties.Settings.ReportsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Reports.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rock_Wall_App.Properties.Settings.suspensionsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\suspensions.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>